@model IEnumerable<ALvl_ExamProject.MVC.Models.PagePL>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<p>
    @Html.ActionLink("Create New Page", "Add New Page", "", new {@class = "btn btn-success" })@*green buttton*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.Sidebar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sidebar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
